<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'producto'}) %>

    <body>
        <!-- Header -->
        <%- include('partials/headerNavbar') %>
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h3 class="products-title">Detalle del producto:
                            <%= idProducto %>
                        </h3>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="row">
                        <div class="col-12 col-lg-8">

                            <img src="/images/avatars/<%= elProducto.avatar %>" alt="<%= elProducto.producto %>" class="responsive">

                        </div>
                        <div class="col-12 col-lg-4">
                            <article class="product-detail-info">
                                <p class="product-detail-description">
                                    <%= elProducto.producto %>

                                </p>
                                <p>Precio:$
                                    <%= elProducto.precio %>
                                </p>
                                <p>Talle
                                    <%= elProducto.talle %>
                                </p>
                                <ul class="actions-list">
                                    <li>
                                        <i class="fas fa-credit-card"></i>
                                        <p>Pagá en 12 cuotas sin interes</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-store"></i>
                                        <p>Retiro gratis en locales del vendedor</p>
                                    </li>
                                </ul>

                                <a href="/carrito" class="buy-now-button">COMPRAR AHORA</a>
                            </article>
                        </div>


                        <!--Borrar Producto -->

                        <form action="/productos/borrar/<%= elProducto.id %>?_method=DELETE" method="POST">
                            <button type="submit">BORRAR</button>
                        </form>

                        <button><a href="/productos/editar/<%= elProducto.id %>">Modificar</a></button>


                        <div class="col-12 container-listaProductos responsive">


                            <a href="/todosLosProductos" class="btn btn-primary btn-sm button-volver" role="button" aria-pressed="true">Volver</a>


                        </div>
                    </div>
                </div>
            </div>
    </body>
    <!-- footer -->
    <%- include('partials/footer') %>
        <!-- /footer -->