<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Perfil'}) %>

    <body class="page-perfil">
        <!-- Header -->
        <%- include('partials/headerNavbar') %>


            <div class="container" style="margin-top: 40px;">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Hola
                            <%= userLogged.name %>
                        </h2>
                        <img src="/images/usersAvatars/<%= userLogged.avatar %>" width="100%">
                        <br>
                        <br>
                        <div class="alert alert-success">
                            <%= userLogged.email %>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a href="/cargaProducto">Crear Producto</a>
            </div>

    </body>
    <%- include('partials/footer') %>