<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'todosLosProductos'}) %>

    <body class="page-todosLosProductos">
        <!-- Header -->
        <%- include('partials/headerNavbar') %>
            <div class="container-productos">
                <main>
                    <div class="titulo-productos">
                        <h1>Todos los Productos</h1>
                    </div>
                    <div class="row lista-productos">

                        <!--Muestra todos los productos-->
                        <% todosLosProductos.forEach(product =>{ %>

                            <div class="col-12 col-md-6 col-lg-3">
                                <a href="/productos/detalleProducto/<%= product.id %>">
                                    <article class="product">
                                        <div class="product-image">
                                            <img class="carrito-imagen" src="/images/avatars/<%= product.avatar %>" alt="<%= product.producto %>">
                                            <h4>
                                                <%= product.producto %>
                                            </h4>
                                        </div>
                                        <div class="product-desc">
                                            <p> Talle:
                                                <%= product.talle %>
                                            </p>
                                            <p> $
                                                <%= product.precio %>
                                            </p>
                                        </div>

                                    </article>
                            </div>
                            <% }) %>
                    </div>
                </main>
            </div>
    </body>



    <!-- footer -->
    <%- include('partials/footer') %>
        <!-- /footer -->