<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Registrar'}) %>
<link rel="stylesheet" href="/css/app.css">

<body class="page-registrar">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    
    <div class="container-fluid">
        <%- include('../partials/logo.ejs') %>
        <section id="login-registro">
            <div class="container">
                <h2 class="text-center">Registrarse</h2>
                <!--Registracion-->
                <div class="columna col-sm-12 col-md-8 mx-auto formulariosContainer">
                    <div class="columna4 col-sm-12 formularios">
                        <h2 class="columna4 col-sm-12 formularios">Completa tus datos</h2>
                        <small class="requerido"> Campos requeridos <span class="requerido">*</span></small>
                        
                        <form action="/usuarios/registrar" method="POST" enctype="multipart/form-data" class="formulario-registrar">
                            <%- include('./partials/formulario.ejs') %>
                            
                            <div class="btn-register">
                                
                            </div>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                            
                        </div>
                        
                    </form>
                </div>
                
            </div>
            
            
            
            
        </section>
        
    </div>
    
    <script defer src="/js/validator.js"></script>
    <script defer src="/js/validateRegister.js"></script>
</body>
<%- include('../partials/footer.ejs') %>