<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Editar'}) %>

    <body class="page-editar-producto">
        <!-- Header -->
        <%- include('../partials/headerNavbar.ejs') %>
            <section class="product-detail">
                <%- include('detalleProducto', { elProducto }) %>
            </section>
            <section class="buttons">
                <a class="button" href="/todosLosProductos/">&larr; Volver al listado</a>
                <form class="has-buttons" action="/productos/<%=elProducto.id %>?_method=DELETE" method="POST">
                    <button class="button is-danger" type="submit">Eliminar producto</button>
                </form>
                <a class="button is-primary" href="/productos/editar/<%= elProducto.id %>">Editar producto</a>
            </section>

            <!-- footer -->
            <%- include('../partials/footer.ejs') %>
                <!-- /footer -->