<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'Crear'}) %>
<link rel="stylesheet" href="/css/app.css">
<body>
    <%- include('../partials/header') %>

    <%- include('../partials/logo') %>

    <div class="container-fluid px-0">
        <section id="nuevoproducto">
            <div class="container ">
                <h2 class="text-center">Carga nuevo producto</h2>
                <div class="formulariosContainer">
                    <div class="col-md-12 formularios">
                        <form action="/productos/crear" method="POST" enctype="multipart/form-data">	
                            <%- include('./partials/formularioProduct')%>
                            <div class="col-md-6 ml-auto p-2 bd-highlight text-right">
                                <button class="btn-principal " type="submit">Cargar nuevo producto!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        
    </body>
    
    
    <%- include('../partials/footer.ejs') %>
    <script defer src="/js/validaciones.js"></script>
    <%- include('../partials/script.ejs') %>
    </html>