<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Inicio'}) %>

    <body class="page-carga-producto">
        <!-- Header -->
        <%- include('../partials/headerNavbar.ejs') %>

            <!--Falta Cargar Imagen y Talle y el select de producto-->

            <main class="carga-producto">
                <form action="/productos/crear" method="POST">
                    <div>
                        <label>Producto: </label> <br>
                        <input type="text" name="name" required>
                        <br><br>
                    </div>

                    <div>
                        <label>Precio: </label> <br>
                        <input type="number" name="price" required>
                        <br><br>
                    </div>
                    <div>
                        <label>Cantidad: </label> <br>
                        <input type="number" name="quantity" required>
                        <br><br>
                    </div>

                    <div>
                        <label>Marca: </label>
                        <select name="brand_id">
                            <option value="">Elegí una marca</option>
                            <% brands.forEach(oneBrand => { %>
                            <option value="<%= oneBrand.id %>"> <%= oneBrand.name %> </option>
                            <% }) %>
                        </select>
                        <br><br>
                    </div>

                    <label>Categorías:</label>
                    <select name="categories" multiple>
                            <option value="" required>Elegí varias categorías</option>
                            <% categories.forEach(oneCategory => { %>
                            <option value="<%= oneCategory.id %>"> <%= oneCategory.name %> </option>
                            <% }) %>
                        </select>

                    <br>

                    <div class="row">
                        <div class="imagen">
                            <div id="divInputLoad">
                                <div id="divFileUpload">
                                    <input id="file-upload" type="file" accept="image/*" name="avatars" />
                                </div>
                                <div id="file-preview-zone">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--Guardar-->
                        <form action="">
                            <button type="submit" class="col-6" value="">Guardar</button>
                        </form>


                    </div>

                </form>
                <div class="col-12">
                    <button type="button" class="btn btn-primary back-button ">Volver</button>
                </div>

                <script>
                    function readFile(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function(e) {
                                var filePreview = document.createElement('img');
                                filePreview.id = 'file-preview';
                                //e.target.result contents the base64 data from the image uploaded
                                filePreview.src = e.target.result;
                                console.log(e.target.result);

                                var previewZone = document.getElementById('file-preview-zone');
                                previewZone.appendChild(filePreview);
                            }

                            reader.readAsDataURL(input.files[0]);
                        }
                    }

                    var fileUpload = document.getElementById('file-upload');
                    fileUpload.onchange = function(e) {
                        readFile(e.srcElement);
                    }
                </script>
            </main>

            <!-- footer -->
            <%- include('../partials/footer.ejs') %>
                <!-- /footer -->