<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'producto'}) %>

    <body>
        <!-- Header -->
        <%- include('../partials/headerNavbar.ejs') %>
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h3 class="products-title">Detalle del producto:
                            <%= products.id %>
                        </h3>
                    </div>
                </div>
                <div class="product-detail">
                    <div class="row">
                        <div class="col-12 col-lg-8">

                            <img src="/images/avatars/<%= products.image %>" class="responsive">

                        </div>
                        <div class="col-12 col-lg-4">
                            <article class="product-detail-info">
                                <p class="product-detail-description">
                                    <%= products.name %>

                                </p>
                                <p>Precio:</p>
                                  <p>$<%= products.price %>
                                </p>
                                <p>Categoria:
                                    <%= products.categories.name %>
                                </p>
                                <p>Color:
                                    <%= products.colors.name %>
                                </p>
                                <p>Talle:
                                    <%= products.size.name %>
                                </p>
                                <p>Marca:
                                    <%= products.brand.name %>
                                </p>
                                <ul class="actions-list">
                                    <li>
                                        <i class="fas fa-credit-card"></i>
                                        <p>Pagá en 12 cuotas sin interes</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-store"></i>
                                        <p>Retiro gratis en locales del vendedor</p>
                                    </li>
                                </ul>

                                <% if (isLogged == true) { %>
                                    <form action="/productos/carrito" method="post">
                                    <input name="product" type="hidden" value="<%= products.id %>">
                                    <button type="submit" class="btn btn-success btn-sm">Agregar al carrito</but>
                                </form>
                            </article>
                                </div>
 
                                <%} else {%>
                                    <div>
                                    <form action="/usuarios/ingresar">
                                        <input name="product" type="hidden" value="<%= products.id %>">
                                        <button type="submit" class="btn btn-success btn-sm">Agregar al carrito</but>
                                    </form>
                                </div>
                               <% } %>
                               

                        <!--Borrar Producto -->
                        <br> <br/>
                        <% 
                      
                        if ( user && user.role === "admin") { 
                           
                            %>
                           
                        <form action="/productos/borrar/<%= products.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-light">BORRAR</button>
                        </form>
                        <% } %> 
            
                        <% if ( user && user.role === "guest") { %>
                        <div class= "d-none">
                            <form action="/productos/borrar/<%= products.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-light">BORRAR</button>
                            </form>
                        </div>
                        <% } %>
                                                
                        <br> <br/>

                        <% if (user && user.role === "admin") { %>
                        <form action="/productos/editar/<%= products.id %>?_method=PUT" method="POST">
                            <button class="btn btn-light"><a href="/productos/editar/<%= products.id %>">Modificar</a></button>
                        </form>
                        <% } %> 

                        <% if (user && user.role === "guest") { %>
                        <div class= "d-none">
                            <form action="/productos/editar/<%= products.id %>?_method=PUT" method="POST">
                                <button class="btn btn-light"><a href="/productos/editar/<%= products.id %>">Modificar</a></button>
                            </form>
                        </div>
                        <% } %>
                    
                        <br>
                        <br/>
                        <div class=" col-12 container-listaProductos responsive ">


                            <a href="/todosLosProductos " class="class=" btn btn-outline-light btn-sm button-volver " role="button " aria-pressed="true ">Volver</a>


                        </div>
                    </div>
                </div>
            </div>
    </body>
    <!-- footer -->
    <%- include('../partials/footer.ejs') %>
        <!-- /footer -->