<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Editar'}) %>
<link rel="stylesheet" href="/css/app.css">

<body class="page-editar-producto">
    <!-- Header -->
    <%- include('../partials/header') %>
    <%- include('../partials/logo') %>
    
    <div class="container-fluid px-0">
        <section id="nuevoproducto">
            <div class="container ">
                <h2 class="text-center">Editar producto</h2>
                <div class="formulariosContainer">
                    <div class="col-md-12 formularios">
                        
                        
                        <form action="/productos/editar/<%= product.id %>" method="POST" enctype="multipart/form-data">
                            <% if (typeof errors != 'undefined'){ %>
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        <% for (var i = 0; i< errors.length ; i++ ){ %>
                                            <li class="errors-back"><%= errors[i].msg  %></li>
                                            <% } %>   
                                        </ul>
                                    </div>
                                    <% } %>
                                    <div class="row">
                                        <div class="col-12">
                                            <label>Nombre:</label>
                                            <input type="text" name="name" value="<%= product.name %>" class="form-control" placeholder="Ej: Parlante 3m">
                                        </div>
                                        <div  class="col-12">
                                            <label>Precio:</label>
                                            <input type="number" name="price" value="<%= product.price %>" class="form-control" placeholder="Ej: AX23">
                                        </div>
                                        <div  class="col-12">
                                            <!-- <label>%= product.image %></label> -->
                                            <label>Imagen Actual:</label>
                                            <input type="text" readonly name="currentImage" value="<%= product.image %>" placeholder="NO la trae bart" class="form-control mt-1">
                                            <label>Subir Imagen nueva</label>
                                            <input type="file" name="image" value="<%= product.image %>" class="form-control" required>
                                        </div> 
                                        <div class="col-12">
                                            <label>Marca:</label>
                                            <!-- <input type="number" name="brand_id" value="%= product.brand_id %>"  class="form-control" placeholder="Ej: BENQ"> -->
                                            <select name="brand_id" class="form-control">
                                                <option value="">Elegí una marca</option>
                                                <% for (let i = 0; i < brand.length; i++) {%> 
                                                    <% if (brand[i].id == product.brand_id) {%>
                                                        
                                                        <option value="<%= brand[i].id%>" selected>
                                                            <%= brand[i].name%>
                                                        </option>
                                                        
                                                        <%} else {%>
                                                            <option value="<%= brand[i].id%>">
                                                                <%= brand[i].name%>
                                                            </option>
                                                            <%}%>
                                                            <%}%>
                                                        </select>
                                                    </div>
                                                    <br><br>
                                                    <!--Categoria-->
                                                    <br><br>
                                                    <div class="col-12">
                                                        <label>Categorías:</label>
                                                        <select name="category_id" required>
                                                            <option value=" ">Elegí una categoria</option>
                                                            <% categories.forEach(oneCategories => { %>
                                                                <option 
                                                                value="<%=oneCategories.id %>"
                                                                <%= product.category_id == oneCategories.id ? 'selected' : null %>
                                                                >
                                                                <%= oneCategories.name %>
                                                            </option>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                    <br>
                                                    <!--Color-->
                                                    <br>
                                                    <div class="col-12">
                                                        <label>Color:</label>
                                                        <select name="colors_id" required>
                                                            <option value=" ">Elegí un color</option>
                                                            <% colors.forEach(oneColors => { %>
                                                                <option 
                                                                value="<%= oneColors.id %>"
                                                                <%= product.colors_id == oneColors.id ? 'selected' : null %>
                                                                >
                                                                <%= oneColors.name %>
                                                            </option>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                    <br>
                                                    <!--Talle-->
                                                    <br>
                                                    <div class="col-12">
                                                        <label>Talle:</label>
                                                        <select name="size_id" required>
                                                            <option value=" ">Elegí un talle </option>
                                                            <% sizes.forEach(oneSize => { %>
                                                                <option 
                                                                value="<%= oneSize.id %>"
                                                                <%= product.size_id == oneSize.id ? 'selected' : null %>>
                                                                
                                                                <%= oneSize.name %>
                                                            </option>
                                                            <% }) %>
                                                        </select>
                                                    </div>
                                                    <br>
                                                    <div  class="col-12">
                                                        <label></label>
                                                        <button type="submit" class="btn btn-amarillo btn-block" >Editar Producto</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </body>
                        
                        
                        <%- include('../partials/footer.ejs') %>
                        <script defer src="/js/validaciones.js"></script>
                        <%- include('../partials/script.ejs') %>
                        </html>