<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Editar'}) %>

    <body class="page-editar-producto">
        <!-- Header -->
        <%- include('../partials/headerNavbar.ejs') %>

            <main class="editar-producto">
                <form action="/productos/editar/<%= products.id %>?_method=PUT" method="POST" enctype="multipart/form-data">


                    <div class="col-6 ">
                        <label>Producto:</label>
                        <select id="producto" name="name">
                            <option> <%= products.name %></option>
                        <option value="remera ">Remera</option>
                        <option value="pantalon ">Pantalón</option>
                        <option value="sweater ">Sweater</option>
                        <option value="vestido ">Vestido</option>
                      </select>
                    </div>

                    <div>
                        <label>Precio: </label> <br>
                        <input type="text" name="price" value="<%=products.price%> " required>
                        <br><br>
                    </div>
                    <!--Categoria-->
                    <div>
                        <label>Categorías:</label>
                        <select name="category_id" required>
                            <option value=" ">Elegí una categoria</option>
                            <% categories.forEach(oneCategories => { %>
                            <option 
                                value="<%=oneCategories.id %>"
                        <%= products.category_id == oneCategories.id ? 'selected' : null %>
                            >
                            <%= oneCategories.name %>
                                </option>
                                <% }) %>
                                    </select>
                    </div>
                    <!--Marca-->
                    <div>
                        <label>Marca:</label>
                        <select name="brand_id" required>
                            <option value=" ">Elegí una marca</option>
                            <% brands.forEach(onebrands => { %>
                            <option 
                                value="<%= onebrands.id %>"
                        <%= products.brand_id == onebrands.id ? 'selected' : null %>
                            >
                            <%= onebrands.name %>
                                </option>
                                <% }) %>
                                    </select>
                    </div>
                    <!--Color-->

                    <div>
                        <label>Color:</label>
                        <select name="colors_id" required>
                            <option value=" ">Elegí un color</option>
                            <% colors.forEach(oneColors => { %>
                            <option 
                                value="<%= oneColors.id %>"
                        <%= products.colors_id == oneColors.id ? 'selected' : null %>
                            >
                            <%= oneColors.name %>
                                </option>
                                <% }) %>
                                    </select>
                    </div>

                    <!--Talle-->
                    <div>
                        <label>Talle:</label>
                        <select name="size_id" required>
                            <option value=" ">Elegí un talle </option>
                              <% sizes.forEach(oneSize => { %>
                             <option 
                                 value="<%= oneSize.id %>"
                                     <%= products.size_id == oneSize.id ? 'selected' : null %>>
        
                                  <%= oneSize.name %>
                            </option>
                             <% }) %>
                        </select>
                    </div>


                    <!--Scrip imagen-->
                    <div class="row ">
                        <div class="imagen">
                            <div id="divInputLoad">
                                <div id="divFileUpload">
                                    <input id="file-upload" required type="file" accept="image/*" name="image" width="100%"/>
                                </div>
                                <div id="file-preview-zone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <!--Guardar-->
                        <form action="">
                            <button type="submit" class="col-6" value="">Guardar</button>
                        </form>


                    </div>
                </form>

                <div class="col-12">
                    <a href="/productos/detalleProducto/<%= products.id %>" class="btn btn-primary btn-sm button-volver" role="button" aria-pressed="true">Volver</a>
                </div>

                <script>
                    function readFile(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function(e) {
                                var filePreview = document.createElement(' img ');
                                filePreview.id = 'file-preview ';
                                //e.target.result contents the base64 data from the image uploaded
                                filePreview.src = e.target.result;
                                console.log(e.target.result);

                                var previewZone = document.getElementById('file-preview-zone ');
                                previewZone.appendChild(filePreview);
                            }

                            reader.readAsDataURL(input.files[0]);
                        }
                    }

                    var fileUpload = document.getElementById('file-upload ');
                    fileUpload.onchange = function(e) {
                        readFile(e.srcElement);
                    }
                </script>
            </main>

            <!-- footer -->
            <%- include('../partials/footer.ejs') %>
                <!-- /footer -->